<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <p class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {new Date().getFullYear()} <a
            href="https://github.com/Selenuix"
            target="_blank"
            class="hover:underline font-bold">Selenuix</a>. All Rights Reserved.
    </p>
    <p class="text-sm text-gray-500 dark:text-gray-400">Source data available on <a
            href="https://en.wiktionary.org/wiki/Appendix:Polish_given_names"
            class="hover:underline font-bold"
            target="_blank">Wiktionary</a>.
    </p>
</footer>

